p{
    margin-bottom: 0;
}
/* Menu */
.menu{
    height: 100vh;
    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.07);
    position: fixed;
    background: white;
    z-index: 10
}
.menu ul {
    position: relative;
    padding: 0;
}
.main-item{
    height: 92px;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.main-item a {
    list-style: none;
    color: #6d6e71
}

#section-1.active, #section-2.active, #section-3.active,  #section-4.active{
    border: 3px solid #C9DF8A;
    border-radius: 8px
}
.icon-menu{
    color: #8e8e8e;
    width: 20px;
    cursor: pointer;
}

.main-item:hover{
    background: rgb(212, 212, 212);
}
.liner{
    width: 151px;
    border-image-source: linear-gradient(to right, #f6f6f6, #cecece 56%, #cecece 62%, #f6f6f6);
    border-image-slice: 1;
    border-bottom: 1px solid;
}
.icon-list{
    width: 18px;
    cursor: pointer;
}
 
/* nav-bar */
.text-content-navbar{
    padding-left: 180px;
    padding-right: 30px;
    height: 50px;
}
.text-content-navbar p{
    margin-bottom: 0
}
.liner-navbar{
    height: 10px;
    background: #77AB59;
}

/* shared */

.content-main{
    background: #f7f7f7;
    min-height: 90vh;
    padding-left: 220px;
    padding-right: 60px;
    padding-top: 30px;  
}

/* reception */
.reception-table .dataTables_length, .reception-table .dataTables_info, .reception-table .dataTables_paginate{display: none}
.reception-table table.dataTable thead th{display: none}
.reception-table table.dataTable thead th{width: 100%}

#reception.hide, #invoices.hide, .data-time, .data-invoces, #restan {
    display: none;
}
.data-time.show, .data-invoces.show{
    display: block;
}
.content-main-recep{
    background: #f7f7f7;
    min-height: 90vh;
    padding-right: 20px;
    padding-top: 30px;  
}
.content-main-recep.left{
    padding-left: 190px;
}
#modal-content-products, #modal-content-products-re{
    overflow-y: scroll;
    padding: 10px;
    height: 300px;
}
.product-card{
    /* width: 640px; */
    /* margin-bottom: 10px; */
    /* background: white; */
    /* border: 1px solid #dedede; */
    cursor: pointer;
    display: flex;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
.product-card:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.47);
}
#img-product{
  width: 150px;
}
#img-product img {
    width: 100%;
    height: auto;
}
#detail-product{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
#cancel-edit{
    display: none;
}
#credito, #transferencia{
    display: none;
}


/* slide-menu */
.slide-menu{
    width: 100%;
    height: 70px;
    background: #77ab59;
    color: white;
    border-radius: 8px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 30px
}
.slide-item{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: .2s all ease;
}

#section-2-tab , #section-3-tab, #section-4-tab { display: none}
/* home-admin */
.pricipal-title{color: #77AB59}
.cards {
    background: white;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cards.statistics{
    width: 23%;
}
.cards.reporte:hover{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.47);
    cursor: pointer;
}
.cards-title{
    color: #6eb639;
    font-size: 16px;
    font-weight: 700;
}
.card-data {
    color: #6d6e71;
    font-weight: 400;  
}


/* invoces-admin */
.subcontent{
    min-height: 65vh;
    background: white;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
}
.range{ display: none }

/* room */

#invoices, #reserva{
    display: none;
}
#invoices.active, #reserva.active{
    display: flex;
    margin-left: 0;
    margin-right: 0
}
.card-number{
    font-size: 50px;  
}
.card-number.green, .status-room.green:hover{
    color: #28a745; 
}
.card-number.blue, .status-room.blue:hover{
    color: #17a2b8; 
}
.card-number.red, .status-room.red:hover{
    color: #dc3545; 
}
.card-number.orange, .status-room.orange:hover{
    color: #ffc107; 
}
.cards.room{
    width: 16%;
    margin-left: 8px;
    height: 120px;
    cursor: pointer;
    transition: all .3s ease
}
.cards.room:hover{
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.47);
}
.linear-room{
    width: 100%;
    height: 3px;
    margin: 10px 0;
}
.body-room-card{
    justify-content: space-around;
    align-items: center
}

/* data-table */

table.dataTable.no-footer {
    border-bottom: none;
    text-align: center
}
.dataTables_filter input, .dataTables_length select{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* users */
.user-content-table{
    margin-top: 100px
}

/* alerts */
.alert{
    display: none; 
 } 
.alert.show{
    display: block;
}

/* inventary */
.update-img{
    width: 300px
}

.printMovenment{
    width: 100%;
    min-height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    display: none;
    z-index: 10000;
    padding: 30px 50px;
}
.printMovenment.show{
    display: block;
}
/* settings */
.shema-card{
    background: white;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
    width: 130px;  
    height: 80px;
}
.liner-shema{
    margin-top:10px;
    width: 100%;
    height: 5px;
}
.without::-webkit-datetime-edit-ampm-field {
    display: none;
  }
/* div imprimir */
#content-print{
    display: none;
    line-height: 1;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 345px;
    background: white;
    min-height: 100%;
    z-index: 10000;
    display: none;
    flex-direction: column;
}
#content-print.show{
    display: flex;
}

.factura-tabla{
    width: 100%;
    text-align: left;

}
#close-print{
    position: absolute;
    right: 100px;
    cursor: pointer;
}
/* reportes */

.ganancia, .pago, .search-reporte, #icon-back{
    display: none;
}
.ganancia.show, .pago.show, .search-reporte.show, #icon-back.show, .items-repor.show{
    display: block;
}
#confirmProcess{
    display: none;
}