p{
    margin-bottom: 0;
}
/* Menu */
.menu{
    width: 12%;
    height: 100vh;
    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.07);
    position: fixed;
    background: white
}
.menu ul {
    position: relative;
    padding: 0;
}
.main-item{
    height: 92px;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.main-item a {
    list-style: none;
    color: #6d6e71
}

#section-1.active, #section-2.active, #section-3.active{
    border: 3px solid #C9DF8A;
    border-radius: 8px
}
.icon-menu{
    color: #8e8e8e;
    width: 20px;
}

.main-item:hover{
    background: #C9DF8A;
}
.liner{
    width: 151px;
    border-image-source: linear-gradient(to right, #f6f6f6, #cecece 56%, #cecece 62%, #f6f6f6);
    border-image-slice: 1;
    border-bottom: 1px solid;
}
.icon-list{
    width: 18px;
    cursor: pointer;
}
 
/* nav-bar */
.text-content-navbar{
    padding-left: 180px;
    padding-right: 30px;
    height: 50px;
}
.text-content-navbar p{
    margin-bottom: 0
}
.liner-navbar{
    height: 10px;
    background: #77AB59;
}

/* shared */

.content-main{
    background: #f7f7f7;
    min-height: 90vh;
    padding-left: 220px;
    padding-right: 60px;
    padding-top: 30px;  
}

/* slide-menu */
.slide-menu{
    width: 100%;
    height: 70px;
    background: #e6e7e8;
    border-radius: 8px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 30px
}
.slide-item{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: .2s all ease;
}
.slide-item.active{
    border: 3px solid #6eb639;
    border-radius: 8px;
}
.border-slide{
    border-left: 1px solid #dcdcdc
}
#section-2-tab , #section-3-tab, #section-4-tab { display: none}
/* home-admin */
.cards {
    background: white;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cards.statistics{
    width: 23%;
}
.cards-title{
    color: #6eb639;
    font-size: 16px;
    font-weight: 700;
}
.card-data {
    color: #6d6e71;
    font-weight: 400;  
}


/* invoces-admin */
.subcontent{
    min-height: 65vh;
    background: white;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
}
.range{ display: none }

/* room */

#invoices{
    display: none;
}
#invoices.active{
    display: block;
}
.card-number{
    font-weight: 800;
    font-size: 50px;  
}
.card-number.green, .status-room.green:hover{
    color: #28a745; 
}
.card-number.blue, .status-room.blue:hover{
    color: #17a2b8; 
}
.card-number.red, .status-room.red:hover{
    color: #dc3545; 
}
.card-number.orange, .status-room.orange:hover{
    color: #ffc107; 
}
.cards.room{
    width: 16%;
    margin-left: 8px;
    height: 120px;
    cursor: pointer;
    transition: all .3s ease
}
.cards.room:hover{
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.47);
}
.linear-room{
    width: 100%;
    height: 3px;
    margin: 10px 0;
}
.body-room-card{
    justify-content: space-around;
    align-items: center
}
.linear-room.green{
    background: #28a745;
}
.linear-room.blue{
    background: #17a2b8;
}
.linear-room.red{
    background: #dc3545;
}
.linear-room.orange{
    background: #ffc107;
}

/* data-table */

table.dataTable.no-footer {
    border-bottom: none;
    text-align: center
}
.dataTables_filter input, .dataTables_length select{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* users */
.user-content-table{
    margin-top: 100px
}

/* alerts */
.alert{
    display: none; 
 } 
.alert.show{
    display: block;
}

/* inventary */

.update-img{
    width: 300px
}