RewriteEngine on

RewriteRule ^login$ index.php?controller=views
RewriteRule ^home$ index.php?controller=views&a=home
RewriteRule ^facturas$ index.php?controller=views&a=invoices
RewriteRule ^inventario$ index.php?controller=views&a=inventory
RewriteRule ^usuarios$ index.php?controller=views&a=users
RewriteRule ^habitaciones$ index.php?controller=views&a=rooms
RewriteRule ^reportes$ index.php?controller=views&a=reports



#USER 
RewriteRule ^createUser$ index.php?controller=user&a=createUser
RewriteRule ^deleteUser$ index.php?controller=user&a=deleteUser
RewriteRule ^UpdateUser$ index.php?controller=user&a=UpdateUser
RewriteRule ^readUsuBy$ index.php?controller=user&a=readUsuBy

#LOGIN
RewriteRule ^logIn$ index.php?controller=login&a=logIn
RewriteRule ^logOut$ index.php?controller=login&a=logOut