RewriteEngine on

RewriteRule ^login$ index.php?controller=views
RewriteRule ^home$ index.php?controller=views&a=home
RewriteRule ^facturas$ index.php?controller=views&a=invoices
RewriteRule ^inventario$ index.php?controller=views&a=inventory
RewriteRule ^configuraciones$ index.php?controller=views&a=setting
RewriteRule ^habitaciones$ index.php?controller=views&a=rooms
RewriteRule ^reportes$ index.php?controller=views&a=reports



#USER 
RewriteRule ^createUser$ index.php?controller=user&a=createUser
RewriteRule ^deleteUser$ index.php?controller=user&a=deleteUser
RewriteRule ^UpdateUser$ index.php?controller=user&a=UpdateUser
RewriteRule ^readUsuBy$ index.php?controller=user&a=readUsuBy
RewriteRule ^readUsuByCant$ index.php?controller=user&a=readUsuByCant

#LOGIN
RewriteRule ^logIn$ index.php?controller=login&a=logIn
RewriteRule ^logOut$ index.php?controller=login&a=logOut

RewriteRule ^recepcion$ index.php?controller=views&a=homeEmployee
RewriteRule ^lista-facturas$ index.php?controller=views&a=invoicesEmployee
RewriteRule ^cierre$ index.php?controller=views&a=closeEmployee

#Tipo habitacion 
RewriteRule ^createType$ index.php?controller=tipoHabitacion&a=createType
RewriteRule ^UpdateTypeRoom$ index.php?controller=tipoHabitacion&a=UpdateTypeRoom
RewriteRule ^deleteTypeRoom$ index.php?controller=tipoHabitacion&a=deleteTypeRoom
RewriteRule ^readByTypeRoom$ index.php?controller=tipoHabitacion&a=readByTypeRoom

#Habitaciones 
RewriteRule ^newNumberOfRoom$ index.php?controller=habitacion&a=newNumberOfRoom
RewriteRule ^createRoom$ index.php?controller=habitacion&a=createRoom
RewriteRule ^UpdateRoom$ index.php?controller=habitacion&a=UpdateRoom
RewriteRule ^readByRoom$ index.php?controller=habitacion&a=readByRoom
RewriteRule ^deleteRoom$ index.php?controller=habitacion&a=deleteRoom
RewriteRule ^readByRoomCant$ index.php?controller=habitacion&a=readByRoomCant

#Proveedores 
RewriteRule ^createProvider$ index.php?controller=proveedor&a=createProvider
RewriteRule ^UpdateProvider$ index.php?controller=proveedor&a=UpdateProvider
RewriteRule ^deleteProvider$ index.php?controller=proveedor&a=deleteProvider
RewriteRule ^readByProvider$ index.php?controller=proveedor&a=readByProvider

#Categoria
RewriteRule ^createCategory$ index.php?controller=categorias&a=createCategory
RewriteRule ^UptadeCategory$ index.php?controller=categorias&a=UptadeCategory
RewriteRule ^deleteCategory$ index.php?controller=categorias&a=deleteCategory
RewriteRule ^readByCategory$ index.php?controller=categorias&a=readByCategory

#Productos
RewriteRule ^createProduct$ index.php?controller=producto&a=createProduct
RewriteRule ^UptadeProduct$ index.php?controller=producto&a=UptadeProduct
RewriteRule ^deleteProduct$ index.php?controller=producto&a=deleteProduct
RewriteRule ^readByProduct$ index.php?controller=producto&a=readByProduct
RewriteRule ^readByCantProduct$ index.php?controller=producto&a=readByCantProduct

#estado Reservas
RewriteRule ^UptadeStateR$ index.php?controller=estadoReserva&a=UptadeStateR
RewriteRule ^readBystateR$ index.php?controller=estadoReserva&a=readBystateR

#Configuraciones facturas
RewriteRule ^UptadeConf$ index.php?controller=configuracionFactura&a=UptadeConf
RewriteRule ^readByConf$ index.php?controller=configuracionFactura&a=readByConf

#CONFIGURACIONES 
RewriteRule ^UptadeConfig$ index.php?controller=configuracion&a=UptadeConfig
RewriteRule ^readByConfig$ index.php?controller=configuracion&a=readByConfig

#TURNOS
RewriteRule ^mostrarAbrirTurno$ index.php?controller=turnos&a=mostrarAbrirTurno
RewriteRule ^createTurn$ index.php?controller=turnos&a=createTurn
RewriteRule ^UptadeTurn$ index.php?controller=turnos&a=UptadeTurn

#Reservas 
RewriteRule ^CrearReserva$ index.php?controller=reserva&a=CrearReserva


#DESARROLLO
RewriteRule ^tiempoTranscurridoFechas$ index.php?controller=tiempo&a=tiempoTranscurridoFechas
RewriteRule ^restarTiempoParcial$ index.php?controller=tiempo&a=restarTiempoParcial

#ERRORES
ErrorDocument 404 /villa/views/modules/errors/error404.php

